body{
    background-color:floralwhite
}
header{
    display: flex;
    font-size: 35px;
    position: fixed;
    padding:18px 0;
    align-items: center;
    background-color:rgb(223, 184, 105);
    width: 100%;
    height:5%;
    top: 0;
    left: 0;
    color: white;
    justify-content: space-between; 
}
a{
    font-size: 35px;
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav{
    display: flex;
    align-items: center;
    color: black;
    gap: 40px;
}
.nav button{
    border-radius: 65px;
    border: 10px;
    padding: 20px;
    background-color:rgb(162, 28, 162);
    font-size: 25px;
    color: white;
    display: flex;
    gap:10px;
}
.nav button:hover{
    color: white;
    cursor: pointer;
    background-color: black;
}
.pht img{
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    padding-right:700px ;
    padding-top: 200px;
    width: 35%;
    height: 55%;
    padding-bottom: 100px;  
}
.text p{
    color: black;
    text-align: left;
    padding-left: 25px;
    font-size: 55px;
    color: red;
    padding-top: 100px;
    font-family:Arial, Helvetica, sans-serif;
   
    letter-spacing: 6px;
    left: 0;

}
.text span{
    color: black;
    padding-top: 150px;
    font-size:45px;
    letter-spacing: 2px;
    padding-left: 200px;

}
.din p1{
    justify-content:center;
    text-align: center;
    padding-top: 1500px;
    font-size: 55px;
    color: black;
    left: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 1000px;
    align-items: center;
}
.din span{
    text-align: justify;
    display: flex;
    font-size: 45px;
    padding-left: 100px;
    text-indent: 10px;
    padding-top:25px;
    justify-content:center;
}
.plat{
    padding-top: 300px;
    font-size: 55px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgba(160, 49, 15, 0.888);
    letter-spacing: 4px;
    padding-left: 750px;

}
.sma img{
    padding-left: 120px;
    width: 50%;
    height: 50%;
    padding-top: 100px;
}

.din video{
    padding-left: 600px;
}
.santo {
   display: flex;
   align-items: center;
   padding-right: 200px;
   width:70%;
   height:40%;
   gap: 5px;
}

.santo as{
    width: 500px;
    height: 500px;
    margin-right :100;
    left: 0%;
}
.nav a:hover{
    color: blueviolet;
    cursor: pointer;
}
.din button{
    border-radius: 65px;
    border: 10px;
    padding: 25px;
    background-color:rgb(162, 28, 162);
    font-size: 15px;
    color: white;
   align-items: center;
   display: flex;
   gap: 10px;
   margin-left: 1100px;
   margin-top: 10px;
}
